:root {
  --themesaclient: maroon;
  --themenaku: orange;
  --fontsizesaclient: 100px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea {
  display: block;
}

.pone,
.ptwo,
.pthree {
  width: 100vw;
  height: 20vh;
  border-style: solid;
}

.pone {
  background-color: var(--themesaclient);
}
